includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
  level: 6
  treatPhpDocTypesAsCertain: false
  parallel:
    maximumNumberOfProcesses: 2
  paths:
    - src
  excludePaths:
    - tests
  bootstrapFiles:
    - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
    - phpstan-bootstrap.php
